@model Customer

@{
    ViewBag.Title = "Xóa Khách hàng";
}
<div class="box box-danger">
    <div class="box-body">
        <form action="~/Customer/Delete/@Model.CustomerID" method="post">

            <div class="form-group">
                <label class="control-label col-sm-2">Tên khách hàng: </label>
                <p class="col-sm-10">@Model.CustomerName</p>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Tên giao dịch: </label>
                <p class="col-sm-10">@Model.ContactName</p>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Số điện thoại: </label>
                <p class="col-sm-10">@Model.Phone</p>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Email: </label>
                <p class="col-sm-10">@Model.Email</p>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Địa chỉ: </label>
                <p class="col-sm-10">@Model.Address</p>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Tỉnh/thành: </label>
                <p class="col-sm-10">@Model.Province</p>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Trạng thái khách hàng: </label>
                <p class="col-sm-10">@(Model.IsLocked ? "Khách hàng bị khóa" : "Khách hàng không bị khóa")</p>
            </div>

            <div class="form-group text-right">
                @if (ViewBag.AllowDelete)
                {
                    <button type="submit" class="btn btn-primary btn-danger">
                        <i class="fa fa-floopy-o"></i>
                        Xóa dữ liệu
                    </button>
                }
                else
                {
                    <span style="color:#f00">Không được phép xóa khách hàng này!</span>
                }

                <a href="~/Customer" class="btn btn-default">
                    Quay lại
                </a>
            </div>

        </form>
    </div>
</div>
